header {
  height: 75px;
}

header div button {
  text-align: right !important;
}

.NavLink {
  color: white;
  text-decoration: none;
  font-size: large;
  margin: 0 5px;
}
.Navlink:hover {
  text-decoration: white;
}
